div {
    font-size: 40px;
}
h1{
    text-align: center;
  }
.navbar{
    text-align: center;
  }
.p1 {
    font-size: 50;
}
.container {
  display: flex;
  flex-direction: row;
}
img{
  width: 35%;
}
.home-container img{
  width: 50%;
}
.home-container{
  display: flex;
  flex-direction: row;
}


