div {
    font-size: 70px;
}
h1{
    text-align: center;
  }
.navbar{
    text-align: center;
  }
.p1 {
    font-size: 50;
}
.container {
  display: flex;
  flex-direction: row;
}
img{
  width: 50%;
}

